html {
  background-color: #060072 !important;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../assets/fonts/circular-std-medium-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../assets/fonts/circular-std-medium-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Circular Std', sans-serif;
}

h5 {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15vw;
  margin: 0;
  padding-right: 5vh;
  padding-bottom: 10vh;
  line-height: .625;
  z-index: 3;
  color: #f9f9f9;
}